@media only screen and (max-width: 1200px) {
    /* For tablets: */
    
  }

@media (min-width: 992px)and(max-width: 1025px) {
    /* For tablets: */
    
}

@media (min-width: 768px)and(max-width: 991px) {
    /* For tablets: */
    .header-part{
        
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    /* For tablets: */
    .header-part{
        /* background-color: red; */
        padding: 10px;
    }

    .head-btn{
        /* background-color: darkred; */
    }

    .ineer-btn{
        /* border: 1px solid rebeccapurple; */
    }
}

