body{
    margin: 0;
    padding: 0;
}

.scroll-aaraow{
    position: fixed;
    /* width: 50px;
    height: 50px;
    background-color: #31383e; */
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #73777f;
    font-size: 24px;
    border-radius: 50%;
}

.menu-bar li a{
    color: rgb(73 82 141);
    font-size: 15px;
}

.logo img{
    width: 100px;
}

.sign-list ul li{
    list-style: none;
    color: red;
}

.header-part{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    box-shadow: 1px 1px 2px;
}

.slider-part{
    position: relative;
}
.footer-style a{
   text-decoration: none;
   font-size: 20px;
   color: #73777f;
}

.ab-section{
    padding-top: 50px;
    font-size: 20px;
    text-transform: uppercase;
}

.ab-section span{
    opacity: 0.7;
}

.ab-heading{
    color: #338dc9;
    font-weight: 400;
    /* text-align: right; */
    padding-top: 50px;

}

/* Product */

.product-btn{
    text-align: center;
    padding-top: 50px;
}

.product-btn a{
    padding: 15px;
    text-decoration: none;
    border: 1px solid rgba(51, 141, 201, 0.8);
    border-radius: 25px;
    cursor: pointer;
    color: rgba(51, 141, 201, 0.8);
    transition: all 0.3s ease;
}

.product-btn a:hover{
    background-color: rgba(51, 141, 201, 0.8);
    color: white;
}

.p-heading1 h3 span{
    color: #025a91;
    font-size: 30px;
    font-weight: 200;
}

.p-heading1 ul{
    list-style: none;
    padding: 0;
}

.p-heading1 ul li{
    font-size: 20px;
    color: #338dc9;
    display: flex;
}

.p-heading1 ul li:before {
    content: "\F633";
    font-family: bootstrap-icons !important;
    margin-right: 5px;
}
.p-text{
    color: #93969d;
    font-size: 20px;
}

.p-style{
    color: #338dc9;
    font-weight: 400;
    font-size: 20px;
}

/* Pricing */

.price-heading{
    color: #025a91;
    font-size: 20px;
    font-weight: 400;
}

.price-para{
    
    font-size: 32px;
    color: #025a91;
    /* text-align: center; */
}

.price-para p span{
    font-weight: 300;
}

.price-details{
    color: #338dc9;
    border: 1px solid rgba(115, 119, 127, 0.4);
    border-radius: 1%;
    padding-top: 50px;
    width: 100%;
    height: 100%;
}




/* Request Demo */

.bg-clr{
    background-color: rgba(238, 240, 242, 1);
    padding-bottom: 150px;
}

.head-img1{
    transform: rotateX(-180deg) rotateY(-180deg);

}

.req-heading{
    color: #025a91;
}

.req-heading h2 span{
    font-weight: 400;

}

.rd-img img{
    padding-left: 10px;
    padding-top: 150px;
}

.req-demo{
    position: relative;
}

.foot-img{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 46px;
    transform: scale(-1);
}
/* Testimonial */

.test-title{
    font-size: 20px;
    color: #025a91;
    text-align: center;
}

.test-title h2 span{
    font-weight: 300;
}

.test-title i{
    font-size: 100px;
}

.testi-content{
    /* margin-left: 250px; */
    color: #025a91;
}

.testi-content .testi-content1 hr{
    color: #73777f;
}

.testi-content1{
    margin-left: 40px;
    color: #025a91;
}

.testi-content h4{
    font-size: 20px;
    /* padding-left: 65px; */
    text-align: center;
}

.testi-content1 h4{
    font-size: 20px;
    /* padding-left: 15px; */
    text-align: center;
}

/* Contact */

.contact-heading{
    color: #31383e;
}

.contact-heading h2 span{
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}

.contact-btn{
    background-color: rgba(51, 141, 201, 1);
    padding: 10px 22px 10px 22px;
    color: white;
    font-size: 15px;
}

.contact-btn:hover{
    background-color: #025a91;
    color: white;
}

.contact-details{
    /* width: 250px; */
    padding-top: 100px;
    float: right;
}

.contact-details h4{
    color: #73777f;
    font-weight: 400;
    line-height: 40px;
}

.contact-details i{
    color: #73777f;
    margin: 5px;
}

/* Blog */

.blog-card{
    border: none;
}

.nav-pills  input:checked + .nav-link {
    background-color: #025a91;
    color: #fff;
}

.main-img img{
    width: 100%;
    padding-top: 64px;
    height: 250px;
}

.main-img{
    text-align: center;
    position: relative;
    margin: auto;
    /* justify-content: center; */
}

.overlay{
    width: 100%;
    position: absolute;
    /* text-align: center; */
    top: 141px;
}

.overlay h2{
    font-size: 40px;
    font-family: sans-serif;
}

.overlay h4{
    color: rgb(204, 153, 102);
}

.blog-area ul li button .active{
    background-color: red!important;
}

.h-body{
    color: #777;
}

.h-body a{
    color: #cc9966;
    text-decoration: none;
    transition: all ease 0.6s;
}

.h-body a:hover{
    text-decoration:underline ;
}

.t-title a{
    font-size: 20px;
    color: #31383e;
    text-decoration: none;
    transition: all ease 0.6s;
}

.t-title a:hover{
    color: #cc9966;
}

.content-body p{
    color: #777;
}

.cont-reading{
    text-decoration: none;
    color: #cc9966;
    font-size: 18px;
    transition: all ease .6s;
}

.cont-reading:hover{
    /* padding-top: 10px; */
    text-decoration: underline;
    /* margin-bottom: 5px; */
    color: #cc9966;
}

.h-datetime span {
    font-size: 20px;
    font-weight: 500;
    color: #cc9966;
}

.radio-btn{
    display: none;
}